.deleteSelected {
    background-color: #ff3333;
}
.heading {
    text-align: center;
}

/* .deleteUser:hover{
    background-color: #ffff99;
} */
/* .deleteUser:active{
    background-color: #ff3333;
} */
